*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html{
    height: 100svh;
  
    
}
main{
   
    display: flex;
    justify-content: center;
    height: 80%;
    font-family: Halloweeni;
    text-transform: uppercase

}

.contenedor_juego{
    padding: 2em;
    color: #c1c1c1;
    text-align: center;
    margin-top: 2.5em;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    width: 90%;
    height: 95%;
    border: 2px solid #cd3802;
    border-radius: 14px;
    animation: border 5s ease infinite;
    
}
button{

    text-transform: uppercase; 
    font-family: Halloweeni;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid #CD3802;
}
.titulo_juego{
    padding-bottom: 1em ;
}
@keyframes border {
    0%{ border-color: #CD3802;}
    25%{ border-color: #D1480B;}
    50%{ border-color: #CD3802;}
    75%{ border-color: #B53001;}
    100%{ border-color: #C54010;}
}

.juego{
    height: 90%;
}
table{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    border-collapse: collapse;
}
.cell{
    border: 5px solid white;
 
    
    width: 7em;
    height: 7em;
    padding: 15px;
}
tr:first-child td {
    border-top: none; 
}

tr:last-child td {
    border-bottom: none;
}

td:first-child {
    border-left: none; 
}

td:last-child {
    border-right: none; 
}
.container_assets{
   display: grid;
   place-items: center;
   gap: .6em;
   padding-bottom: 1.5em;
}
img{
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(1px 1px 1px  #cd3802)
    
}

.player{
    filter: drop-shadow(1px 1px 5px #651616);
}