html {
  margin: 0;
  padding: 0;
  background-image: url(../assets/img/fondo.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Halloweeni;
  src: url(../assets/fonts/mc3e8rG.ttf);
}

@font-face {
  font-family: navHall;
  src: url(../assets/fonts/Witch\ Magic.ttf);
}
@font-face {
  font-family: navblood;
  src: url(../assets/fonts/Bloody\ Terror\ TTF\ Personal.ttf);
}
@font-face {
  font-family: navghost;
  src: url(../assets/fonts/Bad\ Ghost_PersonalUseOnly.ttf);
}

.loginDiv {
  
  padding: 0 2em;
  display: flex;
  gap: .5em;
  justify-content: center;
  align-items: center;
  > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.loginDiv a, .loginDiv span  {
  cursor: pointer;
  color: #171717;
  text-decoration: none;
  font-family: navHall;
  font-size: large;
  transition: all 0.3s ease;
}

.loginDiv a:hover, .loginDiv span:hover {
  color: rgb(249, 106, 34);
  text-shadow: black 1px 1px 5px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
}

header {
  text-shadow: 1px 1px 5px rgb(172, 172, 172);
  background-color: rgb(205, 56, 2);
  padding: 10px;
}

.contenedorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: navHall;
}

.menuNavbar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

nav ul li {
  margin-left: 40px;
  position: relative;
  line-height: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #171717;
  font-size: 1rem;
  transition: all 1s ease;
}

@keyframes li-anim {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}

nav ul li.listahover:hover {
  animation: li-anim .6s ease infinite;
  >a{
      color: #ffffff;
  }
}

.logoTitulo {
  width: 20%;
  display: flex;
  align-items: center;
  font-family: Halloweeni;
  text-transform: uppercase;
  >h1{
    color: black;
  }
}

.logo {
  width: 60px;
  margin-right: 20px;
  filter: drop-shadow(1px 1px 2px white);
}


.catalogos_container{
  display: inline-block;
  position: relative;
  width: 100px;
  > a {
    cursor: pointer;
    text-shadow: 1px 1px 5px rgb(172, 172, 172);
    font-family: navHall;
    font-size: large;
    border-radius: 4px 4px 0px 0px;
    text-decoration: none;
    color: #171717;
    background-color: transparent;
    padding: .25em;
    font-size: 1rem;
    border: none;
    transition: all .3s ease;
  }
 

  
}
.active_dropdown{
  color: white !important;
  animation: li-anim .6s ease infinite;

}
.listaDesplegable{
    width: 100%;

    z-index: 3;
    top: 100%;
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    border-radius: 4px;
    transition: height 1s ease;
    >a{
      text-shadow: 1px 1px 10px black;
      background-color: rgb(249, 106, 34);
      border: 2.5px solid black;
      width: 100%;
      padding-left: 1.25em;
      color: white;
      font-size: small;
    }



}

/* Media Queries para hacer el diseño responsive */
  @media (max-width: 3840px) and (min-width: 2000px) and (min-height: 2000px) {
    .contenedorHeader{
      height: 200px;
     }
     .logoTitulo {
       >h1{ 
        font-size: 8em;
  
      }
      >img{
        width: 130px;
        height:130px;
      }
    }
  
    nav ul li a {
      font-size: 4rem !important;
    }
    
    .menuNavbar{
      gap: 1rem;
      width: 70%;
      display: flex;
      justify-content: space-evenly;

    }
  
    .catalogos_container{
      width: auto;
      
    }
    .loginDiv{
      width: 500px;
      height: 100% ;
      > a {
        font-size: 3.5em ;
      }
      > img{
        width: 130px;
        height: 130px;
      }
    } 
  }


  @media  (max-width: 1920px) and (min-width: 500px) and (min-height: 800px) {
   .contenedorHeader{
    height: 100px;
   }
   .logoTitulo {
     >h1{ 
      font-size: 4em;

    }
    >img{
      width: 80px;
      height: 80px;
    }
  }

  nav ul li a {
    font-size: 1.5rem;
  }
  
  .menuNavbar{
    gap: 1rem;
    width: 70%;
  }
  .botonDesplegable{
    font-size: 1.5em !important ;
  }

  .listaDesplegable{
    width: 140px;

    z-index: 3;
    top: 100%;
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    border-radius: 4px;
    transition: height 1s ease;
    >a{
      background-color: rgb(205, 56, 2);
      border: 2.5px solid black;
      width: 100%;
      font-size:  1.5em !important;
      padding-left: .7em;
      color: white;
      font-size: small;
    }
    

  } 
  .loginDiv{
    width: 250px;
    height: 100% ;
    > a {
      font-size: 2em ;
    }
    > img{
      width: 80px;
      height: 80px;
    }
  }
 
}


  
  /* Ajustes extra para pantallas muy pequeñas (menos de 480px) */
@media (max-width: 480px) and ( max-height:1000px) {
    .contenedorHeader {
        padding: 10px;
        display: grid;

       
        grid-template-areas: "logo login"
                              "icono ."
                             "navbar navbar";
        
    }
    .iconoNavBar{
      grid-area: icono;
      display: flex;
      justify-content: flex-start;
      margin-top: .5em;
      margin-left: .3em;
  
      height: 30px !important;
    }
    .menuNavbar{
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    nav{
   
      height: 0px;
      overflow: hidden;
      
      transition: height .5s ease-out;
    }
    .botonDesplegable{
      font-size: .8em !important ;
    }
    .logoTitulo {
      grid-area: logo;
      width: 100%;
      height: 100%;
      text-align: center;
      margin: 0;
      >h1 {

        font-size: 1.3em;
      }
    }
    
    .logo {   
        width: 40px;
        margin-right: 5px;
    }
    .loginDiv{
      width: 100%;
      height: 100%;
      grid-area: login;
      >img {
        width: 40px;
        height: 40px;
      }
    }
    .loginDiv a {
        font-size: 1rem;
    }

    nav{
      grid-area: navbar;
    }
    nav ul li a {
        font-size: 0.8rem;
    }
    .listhover{
      padding: 0;
      margin: 0;
    }
  
    header {
        padding: 15px 5px;
    }
}