body {
  overflow-x: hidden;
}

.contieneTodo {
  text-align: center;
  padding: 20px;
}

.contieneTodo img {
  width: 80px;
  margin-bottom: 10px;
}

.contieneTodo h1 {
  font-family: navHall;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 2px 2px 5px black;
}

.section {
  width: 100%;
  height: 50svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.section .login {
  position: relative;
  width: 400px;
  background: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

.section .login .marco {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.section .login .marco .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section .login .marco .form .inputBox {
  position: relative;
  width: 100%;
}

.section .login .marco .form .inputBox input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

.section .login .marco .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.login .marco .form .inputBox input:focus ~ i,
.login .marco .form .inputBox input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

.login .marco .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login .marco .form .links a {
  color: #fff;
  text-decoration: none;
}

.login .marco .form .links a:nth-child(2) {
  color: rgb(205, 56, 2);
  font-weight: 600;
}

.login .marco .form .inputBox input[type="submit"] {
  padding: 10px;
  background: rgb(205, 56, 2);
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

input[type="submit"]:active {
  opacity: 0.6;
}
