#clickableDiv {
    position: relative;
    margin: 50px auto;
    width: 300px; 
    height: 300px; 
}
#clickableDiv img {
    width: 100%;
}
.clickable-area {
    position: absolute;
    opacity: 0.5; 
    cursor: pointer;
}
.central {
    left: 52%;
    top: 27%; 
    width: 7.5%; 
    height: 7.5%; 
    background-color: pink; 
}
.bottom-left {
    left: 21%;
    top: 53%;
    width: 31%; 
    height: 30%; 
    background-color: pink;
}
.bottom-right {
    left: 62%; 
    top: 53%; 
    width: 31%; 
    height: 30%; 
    background-color: pink; 
}