* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: Halloweeni;
    src: url("../assets/fonts/CFHalloween-Regular.ttf");
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #171717;
    color: #c1c1c1;
  }
  
  header {
    background-color: #8b55af;
    padding: 20px;
  }
  
  .contenedorHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
  }
  
  nav {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .menuNavbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin-left: 40px;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #c1c1c1;
  }
  
  .logoTitulo {
    display: flex;
    align-items: center;
    font-family: Halloweeni;
    text-transform: uppercase;
  }
  
  .logo {
    width: 100px;
    margin-right: 20px;
  }
  
  main {
    font-family: "Roboto", sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h2 {
    margin-top: 10px;
    color: #ff7518;
    margin-bottom: 10px;
  }
  
  hr {
    border: none;
    height: 2px;
    background-color: #2c2c2c;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    color: #c1c1c1;
  }
  
  /* Medidas dispositivos que piden */
  @media (max-width: 375px) {
    /* iPhone SE 2020 de pie */
    .contenedorHeader {
      flex-direction: column;
      text-align: center;
    }
  
    nav ul {
      flex-direction: column;
      margin-top: 10px;
    }
  
    nav ul li {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  
  @media (min-width: 376px) and (max-width: 390px) {
    /* iPhone 13 de pie */
    .contenedorHeader {
      flex-direction: column;
      text-align: center;
    }
  
    nav ul {
      flex-direction: column;
      margin-top: 10px;
    }
  
    nav ul li {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  
  @media (min-width: 391px) and (max-width: 914px) and (orientation: landscape) {
    /* iPhone 13 tumbado */
    .contenedorHeader {
      flex-direction: row;
      text-align: left;
    }
  
    nav ul {
      flex-direction: row;
      margin-top: 0;
    }
  
    nav ul li {
      margin-left: 20px;
      margin-top: 0;
    }
  }
  
  @media (max-width: 915px) {
    /* Samsung S20 Ultra de pie */
    .contenedorHeader {
      flex-direction: column;
      text-align: center;
    }
  
    nav ul {
      flex-direction: column;
      margin-top: 10px;
    }
  
    nav ul li {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  
  @media (min-width: 413px) and (max-width: 915px) and (orientation: landscape) {
    /* Samsung S20 Ultra tumbado */
    .contenedorHeader {
      flex-direction: row;
      text-align: left;
    }
  
    nav ul {
      flex-direction: row;
      margin-top: 0;
    }
  
    nav ul li {
      margin-left: 20px;
      margin-top: 0;
    }
  }
  
  @media (max-width: 1920px) {
    /* Portátil de 1080p */
    .contenedorHeader {
      justify-content: space-between;
    }
  
    nav ul {
      justify-content: space-between;
    }
  }
  
  @media (min-width: 1921px) and (max-width: 3840px) {
    /* Televisor 4K 3840x2160*/
    .contenedorHeader {
      justify-content: space-between;
      padding: 20px; /* Espaciado adicional en el contenedor */
    }
  
    nav ul {
      justify-content: space-between;
      font-size: 50px; /* Aumentar tamaño de la fuente del menú */
    }
  
    nav ul li {
      margin-left: 60px; /* Más espacio entre los elementos del menú */
    }
  
    main {
      padding: 40px; /* Más espaciado en el main */
    }
    main h2 {
      font-size: 60px;
    }
    main p {
      font-size: 40px;
    }
  
    section {
      margin-bottom: 40px; /* Más espacio entre secciones */
    }
  }
  