<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre nosotros - ¡Conoce a tus comandantes infernalesz!</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/aboutus.css" />
    <script src="../js/navBar.js" defer></script>
    <script src="../js/checkLanding.js"></script>


    <link rel="icon" type="image/x-icon" href="../assets/img/icos-svg/halloween-icon-orange.png" />
    <style>

    </style>
  </head>
  <body>
    <header>
      <div class="contenedorHeader">
        <div class="logoTitulo">
          <img src="../assets/img/icos-svg/halloween-icon.svg" class="logo" />
          <h1>Halloween</h1>
        </div>
        <div class="iconoNavBar" id="iconoNavBar" style="height: 0; overflow: hidden;" >
          <img src="../assets/img/icons8-menú.svg" alt="" >
        </div>
        <nav id="navabar" >
          <ul class="menuNavbar">
            <li class="listahover"><a href="../landing.html">HOME</a></li>
            <li class="listahover"><a href="./catalogo.html">Catalogos</a></li>
          
            <li class="listahover"><a href="./game.html">MINIJUEGO</a></li>
            <li class="listahover"><a href="./aboutus.html">About us</a></li>
          </ul>
        </nav>
     
        <div class="loginDiv">
          <a href="./login.html" id="login_text">Iniciar sesion</a>
          <img id="img_login" src=""    alt="" style="display: none;">
        </div>
      </div>
    </header>
    <main>
      <img src="../assets/img/img-aboutus/gato.gif" alt="" id="gato" />
      <div id="lostres">
        <h1>¡SOBRE NOSOTROS!</h1>
        <h3>Hola, somos Pau Carlos y Esteban (los tres sexys de abajo)</h3>
        <img src="../assets/img/img-aboutus/murcielagos.gif" alt="" id="muercielagos" />
        <img src="../assets/img/img-aboutus/haunter.png" alt="" id="haunter" />
        <img src="../assets/img/img-aboutus/Pau-Carlos-Esteban.jpeg" alt="" id="nosotros" />
        <img src="../assets/img/img-aboutus/murcielagos.gif" alt="" id="muercielagos2" />
      </div>
      <div class="texto">
        <h2>Nosotros</h2>
        <!-- Desciripcion de los tres compañeros -->
        <p>¡Hola! Somos Pau, Esteban y Carlos, tres apasionados estudiantes del ciclo de Desarrollo de Aplicaciones Web (DAW). Nuestra aventura en el mundo del desarrollo comenzó hace un par de años y, desde entonces, hemos estado inmersos en el aprendizaje de las tecnologías más innovadoras y en la creación de proyectos que reflejan nuestra creatividad y habilidades.</p>

        <p>Juntos, estamos comprometidos en seguir aprendiendo y creciendo en el mundo del desarrollo web. Creemos que la colaboración y la comunicación son clave para el éxito de nuestros proyectos, y estamos emocionados por lo que el futuro nos depara.</p>
        <p>¡Gracias por conocer un poco más sobre nosotros!</p>
      </div>
      <!-- columnas con una fotod e cada integrannte y  una descripción de cada uno de ellos -->

      <div class="tres-columnas">
        <div class="columna">
          <h2 class="nombre">Esteban</h2>
          <img src="../assets/img/img-aboutus/Esteban.jpeg" alt="Imagen de Esteban" class="imagen-columna" onclick="showPersonaContent('esteban')" />
          <h3 class="quote-button" onclick="showPersonaContent('esteban')">"El dinero no lo es todo, pero es todo lo que quiero."</h3>
        </div>

        <div class="columna">
          <h2 class="nombre">Carlos</h2>
          <img src="../assets/img/img-aboutus/Carlos.jpeg" alt="Imagen de Carlos" class="imagen-columna" onclick="showPersonaContent('carlos')" />
          <h3 class="quote-button" onclick="showPersonaContent('carlos')">"En el cielo o en la tierra solo yo merezco ser venerado."</h3>
        </div>

        <div class="columna">
          <h2 class="nombre">Pau</h2>
          <img src="../assets/img/img-aboutus/Pau2.jpeg" alt="Imagen de Pau" class="imagen-columna" onclick="showPersonaContent('pau')" />
          <h3 class="quote-button" onclick="showPersonaContent('pau')">"Sudo su, look at me I am the captain now."</h3>
        </div>
      </div>

      <div class="texto">
        <h3 style="text-align: center;">¡Clicka en la imagen de la persona con la frase con la que te sientas más identificado para saber mas de él!</h3>
        <!-- Texto de Pau -->
        <div id="pau" class="persona-content">
          <h2>Pau</h2>
          <p>Pau es un entusiasta del diseño web y la experiencia de usuario, y se defiende en diversas tecnologías. Su versatilidad le permite trabajar con lenguajes de programación y herramientas como HTML, CSS, JavaScript y frameworks como React. Siempre busca la manera de mejorar la usabilidad y estética de los proyectos en los que colaboramos, explorando nuevas tendencias y técnicas para crear interfaces atractivas y funcionales.</p>
        </div>

        <!-- Texto de Esteban -->
        <div id="esteban" class="persona-content">
          <h2>Esteban</h2>
          <p>Esteban destaca por su imaginación y creatividad, aportando ideas frescas e innovadoras a nuestros proyectos. Le encanta encontrar soluciones creativas y es un gran colaborador en el equipo. Su enfoque original nos ayuda a ver las cosas desde nuevas perspectivas y a superar desafíos de manera efectiva.</p>
        </div>

        <!-- Texto de Carlos -->
        <div id="carlos" class="persona-content">
          <h2>Carlos</h2>
          <p>Carlos se centra en el desarrollo front-end y disfruta creando interfaces sencillas y efectivas que mejoren la experiencia del usuario. Utiliza HTML, CSS y JavaScript, así como algunos frameworks modernos, para dar vida a nuestras ideas. La colaboración con Pau y Esteban hace que el trabajo en equipo sea más dinámico y productivo.</p>
        </div>
       

      </div>

      <img src="../assets/img/img-aboutus/umbreon.png" alt="" id="umbreon" />
      
      <!-- formulario  de contacto -->

      <div class="contact-form">
        <h2>Comparte tus Peores Pesadillas con Jack</h2>
        <form action="http://127.0.0.1/proyecto-JJJ/back/email.php" method="POST">
          <label for="subject">Asunto:</label>
          <input type="text" id="subject" name="subject" placeholder="Asunto de tu pesadilla" required />
      
          <label for="message">Describe tu Peor Pesadilla:</label>
          <textarea id="message" name="message" rows="5" placeholder="Comparte tu peor pesadilla..." required></textarea>
      
          <button type="submit">Enviar a Jack</button>
        </form>
      </div>
      
    </main>

    <script src="../js/aboutus.js"></script>
  </body>
</html>
