<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catalogo</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/catalogo.css" />

  </head>
  <body>
    <header>
      <div class="contenedorHeader">
        <div class="logoTitulo">
          <img src="../assets/img/icos-svg/halloween-icon.svg" class="logo" alt="Logo Halloween" />
          <h1>Halloween</h1>
        </div>
        <nav>
          <ul class="menuNavbar">
            <li class="listahover"><a href="./index.html">HOME</a></li>
            <li class="listahover"><a href="./catalogo.html">Catalogo</a></li>
            <li class="listahover"><a href="./game.html">MINIJUEGO</a></li>
            <li class="listahover"><a href="./aboutus.html">About Us</a></li>
          </ul>
        </nav>
        <div class="loginDiv">
          <a href="./login.html">Iniciar sesión</a>
        </div>
      </div>
    </header>

    <main>
      <div id="cards-container">
        <div class="card">
          <img src="../assets/img/img-catalogo/postre1.jpg" alt="Chupito Ocular" />
          <h1>Chupito Ocular</h1>
          <p class="descripcion">Verás más allá...</p>
          <p><button>Ver receta</button></p>
        </div>

        <div class="card">
          <img src="../assets/img/img-catalogo/postre2.jpg" alt="Cookie Vampire" />
          <h1>Cookie Vampire</h1>
          <p class="descripcion">Vuelan hasta tu gusto</p>
          <p><button>Ver receta</button></p>
        </div>

        <div class="card">
          <img src="../assets/img/img-catalogo/postre3.jpg" alt="Choco Arañas" />
          <h1>Choco Arañas</h1>
          <p class="descripcion">Trepan tus sentidos</p>
          <p><button>Ver receta</button></p>
        </div>

        <div class="card">
          <img src="../assets/img/img-catalogo/postre4.jpg" alt="Cookie Boo" />
          <h1>Cookie Boo</h1>
          <p class="descripcion">Miedo lo ricas que están</p>
          <p><button>Ver receta</button></p>
        </div>

        <div class="card">
          <img src="../assets/img/img-catalogo/postre5.jpg" alt="HectoCake" />
          <h1>HectoCake</h1>
          <p class="descripcion">Miedo a parar de comer</p>
          <p><button>Ver receta</button></p>
        </div>
      </div>
    </main>
  </body>
</html>
