<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minijuego</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/game.css">
    <script src="../js/navBar.js" defer></script>
    <script src="../js/game.js" defer></script>
    <script src="../js/checkLanding.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>

    <script src="../js/puzzle.js" defer></script>
  </head>
  <body>
    <header>
      <div class="contenedorHeader">
        <div class="logoTitulo">
          <img src="../assets/img/icos-svg/halloween-icon.svg" class="logo" />
          <h1>Halloween</h1>
        </div>
        <div class="iconoNavBar" id="iconoNavBar" style="height: 0; overflow: hidden;" >
          <img src="../assets/img/icons8-menú.svg" alt="" >
        </div>
        <nav id="navabar" >
          <ul class="menuNavbar">
            <li class="listahover"><a href="../landing.html">HOME</a></li>
            <li class="listahover"><a href="./catalogo.html">Catalogos</a></li>
          
            <li class="listahover"><a href="./game.html">MINIJUEGO</a></li>
            <li class="listahover"><a href="./aboutus.html">About us</a></li>
          </ul>
        </nav>
     
        <div class="loginDiv">
          <a href="./login.html" id="login_text">Iniciar sesion</a>
          <img id="img_login" src=""    alt="" style="display: none;">
        </div>
      </div>
    </header>
    <main>
        <div id="contenedor_juego" class="contenedor_juego">
            <h1 class="titulo_juego" id="titulo_juego">MINIJUEGOS</h1>

          <div class="juegos" id="juegos_slider" >
            <div class="img_selec_game" id="titactoe">
              <img  src="../assets/img/game/tic tac toe.jpg" alt="" >
              <div>

                <h2>3 en ralla</h2>
              </div>
            </div>
            
            <div class="img_selec_game">
              <img  src="../assets/img/game/puzle.jpg" alt="">
              <div>

                <h2>Puzzle</h2>
              </div>

            </div>
          </div>



          <div class="tablero"  id="puzzle" style="display: none;"></div> <!-- Contenedor para el tablero del rompecabezas -->
          <div class="btn-container" id="botonesPuzzle" style="display: none;">
              <button class="btn" id="btn-reiniciar">Reiniciar</button> <!-- Botón para reiniciar el juego -->
              <button class="btn" id="btn-free-win">Free Win</button> <!-- Botón para ganar automáticamente -->
          </div>
            <div id="jugadores" style="display: none;">
              
              <h2>Cuantos jugadores quieres</h2>
                <button id="1_player">1 Jugador</button><br>
                <button id="2_players">2 Jugadores</button>
            </div>
            <div class="juego" id="juego" style="display: none;">
              <div class="container_assets">
                <p id="res"></p>
                <button id="boton_restart_juego">Reset game </button>
                <button id="boton_restart_score">Reset score</button>
              </div>
                <table>

                    <tr>
                      <td  class="cell"><img  class="cell_img" alt="" ></td>
                      <td  class="cell"><img  class="cell_img" alt="" ></td>
                      <td  class="cell"><img  class="cell_img" alt="" ></td>
                    </tr>
                    <tr>
                        <td  class="cell" ><img class="cell_img" alt=""></td>
                        <td  class="cell" ><img class="cell_img" alt=""></td>
                        <td  class="cell" ><img class="cell_img" alt=""></td>
                    </tr>
                    <tr>
                        <td  class="cell"><img  class="cell_img" alt=""></td>
                        <td  class="cell"><img  class="cell_img" alt=""></td>
                        <td  class="cell"><img  class="cell_img" alt=""></td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
  </body>
</html>
