<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>¡Identifícate mortal!</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <script src="../js/navBar.js" defer></script>
    <script src="../js/checkLanding.js"></script>

    <link rel="icon" type="image/x-icon" href="../assets/img/icos-svg/halloween-icon-orange.png">
  </head>
  <body>
    <header>
      <div class="contenedorHeader">
        <div class="logoTitulo">
          <img src="../assets/img/icos-svg/halloween-icon.svg" class="logo" />
          <h1>Halloween</h1>
        </div>
        <div class="iconoNavBar" id="iconoNavBar" style="height: 0; overflow: hidden;" >
          <img src="../assets/img/icons8-menú.svg" alt="" >
        </div>
        <nav id="navabar" >
          <ul class="menuNavbar">
            <li class="listahover"><a href="../landing.html">HOME</a></li>
            <li class=" catalogos_container"><a href="./catalogo.html">Catalogos</a></li>
          
            <li class="listahover"><a href="./game.html">MINIJUEGO</a></li>
            <li class="listahover"><a href="./aboutus.html">About us</a></li>
          </ul>
        </nav>
     
        <div class="loginDiv">
          <a href="./login.html" id="login_text">Iniciar sesion</a>
          <img id="img_login" src=""    alt="" style="display: none;">
        </div>
      </div>
    </header>

    <div class="contieneTodo">
      <img src="../assets/img/icos-svg/halloween-icon.svg" class="logo" />
      <h1>¡Identifícate mortal!</h1>
    </div>

    <div class="section"> 
      <div class="login"> 
        <div class="marco"> 
          <form action="../../back/login.php" method="post" class="form"> 
            <div class="inputBox"> 
              <input type="text" name="user" required> 
              <i>Usuario</i> 
            </div> 
            <div class="inputBox"> 
              <input type="password" name="password" required> 
              <i>Contraseña</i> 
            </div> 
            <div class="links"> 
              <a href="./forgottenPassword.html">¿Has olvidado tu contraseña?</a> 
              <a href="./register.html">¿Aún no estás registrado? ¡Click aquí!</a> 
            </div> 
            <div class="inputBox"> 
              <input type="submit" value="Iniciar sesión"> 
            </div> 
          </form> 
          </form> 
        </div> 
      </div> 
    </div>
  </body>
</html>
