<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>¡Recupera tu condena!</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="icon" type="image/x-icon" href="../assets/img/icos-svg/halloween-icon-orange.png">
  </head>
  <body>
    <header>
      <div class="contenedorHeader">
        <div class="logoTitulo">
          <img src="../assets/img/icos-svg/halloween-icon.svg" class="logo" />
          <h1>Halloween</h1>
        </div>
        <nav>
          <ul class="menuNavbar">
            <li class="listahover"><a href="../landing.html">HOME</a></li>
            <li class="listahover"><a href="./catalogo.html">catalogo</a></li>
            <li class="listahover"><a href="./game.html">MINIJUEGO</a></li>
            <li class="listahover"><a href="./aboutus.html">About us</a></li>
          </ul>
        </nav>
        <div class="loginDiv">
          <a href="./login.html">Iniciar sesion</a>
        </div>
      </div>
    </header>

    <div class="contieneTodo">
      <img src="../assets/img/icos-svg/halloween-icon.svg" class="logo" />
      <h1>¡Recupera tu condena!</h1>
    </div>


    <div class="section"> 
      <div class="login"> 
        <div class="marco"> 
          <form class="form"> 
            <div class="inputBox"> 
              <input type="password" required> 
              <i>Nueva contraseña</i> 
            </div> 
            <div class="inputBox"> 
              <input type="password" required> 
              <i>Repite contraseña</i> 
            </div> 
                <div class="inputBox"> 
                  <div class= "container">
                    <div class="select">
                      <h2 id="pregunta"></h2>
                      </div>
                  </div> 
                </div>
            <div class="inputBox"> 
              <input type="text" required> 
              <i>Respuesta</i> 
            </div> 
            <div class="links"> 
              <a href="./login.html">Volver a Iniciar sesión</a> 
              <a href="./login.html">¿Ya registrado? ¡Click aquí!</a> 
            </div> 
            <div class="inputBox"> 
              <input type="submit" value="Enviar"> 
            </div> 
          </form> 
        </div> 
      </div> 
    </div>
  </body>
</html>
