<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>¡Recupera tu condena!</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <script src="../js/navBar.js" defer></script>
    <script src="../js/checkLanding.js"></script>

    <link rel="icon" type="image/x-icon" href="../assets/img/icos-svg/halloween-icon-orange.png">
  </head>
  <body>
    <header>
      <div class="contenedorHeader">
        <div class="logoTitulo">
          <img src="../assets/img/icos-svg/halloween-icon.svg" class="logo" />
          <h1>Halloween</h1>
        </div>
        <div class="iconoNavBar" id="iconoNavBar" style="height: 0; overflow: hidden;" >
          <img src="../assets/img/icons8-menú.svg" alt="" >
        </div>
        <nav id="navabar" >
          <ul class="menuNavbar">
            <li class="listahover"><a href="../landing.html">HOME</a></li>
            <li class=" catalogos_container"><a href="./catalogo.html">Catalogos</a></li>
          
            <li class="listahover"><a href="./game.html">MINIJUEGO</a></li>
            <li class="listahover"><a href="./aboutus.html">About us</a></li>
          </ul>
        </nav>
     
        <div class="loginDiv">
          <a href="./login.html" id="login_text">Iniciar sesion</a>
          <img id="img_login" src=""    alt="" style="display: none;">
        </div>
      </div>
    </header>

    <main>
      <div class="contieneTodo">
        <img src="../assets/img/icos-svg/halloween-icon.svg" class="logo" />
        <h1>¡Recupera tu condena!</h1>
      </div>
  
  
      <div class="section"> 
        <div class="login"> 
          <div class="marco"> 
            <form class="form"> 
              <div class="inputBox"> 
                <input type="password" required> 
                <i>Nueva contraseña</i> 
              </div> 
              <div class="inputBox"> 
                <input type="password" required> 
                <i>Repite contraseña</i> 
              </div> 
                  <div class="inputBox"> 
                    <div class= "container">
                      <div class="select">
                        <select>
                          <option value="" disabled selected>Selecciona tu pregunta de seguridad</option>
                          <option value="1">¿Cuál es el nombre de tu primer mascota?</option>
                          <option value="2">¿En qué ciudad naciste?</option>
                          <option value="3">¿Cuál fue la marca de tu primer coche?</option>
                        </select>
                        </div>
                    </div> 
                  </div>
              <div class="inputBox"> 
                <input type="text" required> 
                <i>Respuesta</i> 
              </div> 
              <div class="links"> 
                <a href="./login.html">Volver a Iniciar sesión</a> 
                <a href="./login.html">¿Ya registrado? ¡Click aquí!</a> 
              </div> 
              <div class="inputBox"> 
                <input type="submit" value="Enviar"> 
              </div> 
            </form> 
          </div> 
        </div> 
      </div>
    </main>
    
  </body>
</html>
