<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>¡Únete a las legiones de muertos!</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="icon" type="image/x-icon" href="../assets/img/icos-svg/halloween-icon-orange.png">
    <script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.3/popup.min.js"></script>
    <script src="../js/navBar.js" defer></script>
    <script src="../js/register.js" ></script>
    <script src="../js/checkLanding.js"></script>

  </head>
  <body>
    <header>
      <div class="contenedorHeader">
        <div class="logoTitulo">
          <img src="../assets/img/icos-svg/halloween-icon.svg" class="logo" />
          <h1>Halloween</h1>
        </div>
        <div class="iconoNavBar" id="iconoNavBar" style="height: 0; overflow: hidden;" >
          <img src="../assets/img/icons8-menú.svg" alt="" >
        </div>
        <nav id="navabar" >
          <ul class="menuNavbar">
            <li class="listahover"><a href="../landing.html">HOME</a></li>
            <li class="listahover"><a href="./catalogo.html">Catalogos</a></li>
          
            <li class="listahover"><a href="./game.html">MINIJUEGO</a></li>
            <li class="listahover"><a href="./aboutus.html">About us</a></li>
          </ul>
        </nav>
     
        <div class="loginDiv">
          <a href="./login.html" id="login_text">Iniciar sesion</a>
          <img id="img_login" src=""    alt="" style="display: none;">
        </div>
      </div>
    </header>
    <main><div class="contieneTodo">
      <h1>¡Únete a las legiones de muertos!</h1>
    </div>


    <div class="section"> 
      <div class="login"> 
        <div class="marco"> 
          <form  method="POST" class="form"> 
            <div class="inputBox"> 
              <input type="text" name="user" required> 
              <i>Usuario</i> 
            </div> 
            <div class="inputBox"> 
              <input type="email" name="email" required> 
              <i>Correo</i> 
            </div> 
            <div class="inputBox"> 
              <input type="password" name="password" required> 
              <i>Contraseña</i> 
            </div> 
            <div class="inputBox"> 
              <input type="password"   required> 
              <i>Repite contraseña</i> 
            </div> 
            <div class="inputIcon">
              <h2>Icono</h2>
              <div>

                <img id="icons" src="../assets/img/iconos-register/bat-blood-halloween-svgrepo-com.svg" alt="">
                <img id="icons" src="../assets/img/iconos-register/cat-halloween-kitty-svgrepo-com.svg" alt="">
                <img id="icons" src="../assets/img/iconos-register/cauldron-halloween-pot-svgrepo-com.svg" alt="">
                <img id="icons" src="../assets/img/iconos-register/frankenstein-halloween-monster-svgrepo-com.svg" alt="">
                <img id="icons" src="../assets/img/iconos-register/halloween-horror-pumpkin-svgrepo-com.svg" alt="">
                <img id="icons" src="../assets/img/iconos-register/magic-pentagram-rite-svgrepo-com.svg" alt="">
                <img id="icons" src="../assets/img/iconos-register/skull-svgrepo-com.svg" alt="">
              </div>
              <input type="hidden" name="icon" id="inputIcons">
            </div>

                <div class="inputBox"> 
                  <div class= "container">
                    <div class="select">
                      <select name="Pseguridad" class="seguridad"  required>
                        <option value="" disabled selected>Selecciona una pregunta de seguridad</option>
                        <option value="1">¿Cuál es el nombre de tu primer mascota?</option>
                        <option value="2">¿En qué ciudad naciste?</option>
                        <option value="3">¿Cuál fue la marca de tu primer coche?</option>
                      </select>
                      </div>
                  </div> 
                </div>
            <div class="inputBox"> 
              <input type="text" name="Rseguridad" required> 
              <i>Respuesta</i> 
            </div> 
            <div class="links"> 
              <a href="./forgottenPassword.html">¿Has olvidado tu contraseña?</a> 
              <a href="./login.html">¿Ya registrado? ¡Click aquí!</a> 
            </div> 
            <div class="inputBox"> 
              <input type="submit" id="submitButton" value="Regístrate  "> 
            </div> 
          </form> 
          </form> 
        </div> 
      </div> 
    </div>
  </main>
    
  </body>
</html>
