<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halloween</title>
    <link rel="stylesheet" href="../css/testing.css">
</head>
<body>
    <header>
        <div class="contenedorHeader">
            <div class="logoTitulo">
                <img src="../assets/img/icos-svg/halloween-icon.svg" class="logo">
                <h1>Halloween</h1>
            </div>
            <nav>
                <ul class="menuNavbar">
                    <li><a href="./index.html">Home</a></li>
                    <li class="desplegable">
                        <a href="#" class="desplegable">Recetas &#9662;</a>
                    </li>
                    <li><a href="#">Minijuego</a></li>
                    <li><a href="./login.html">Iniciar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section>
            <h2>Título con h2</h2>
            <hr>
            <p>Párrafo con p.</p>
        </section>
        <section>
            <h2>Título con h2</h2>
            <hr>
            <p>Párrafo con p.</p>
        </section>
        <section>
            <h2>Título con h2</h2>
            <hr>
            <p>Párrafo con p.</p>
        </section>
        <section>
            <h2>Título con h2</h2>
            <hr>
            <p>Párrafo con p.</p>
        </section>
        <section>
            <h2>Título con h2</h2>
            <hr>
            <p>Párrafo con p.</p>
        </section>
        <section>
            <h2>Título con h2</h2>
            <hr>
            <p>Párrafo con p.</p>
        </section>
        <section>
            <h2>Título con h2</h2>
            <hr>
            <p>Párrafo con p.</p>
        </section>
        <section>
            <h2>Título con h2</h2>
            <hr>
            <p>Párrafo con p.</p>
        </section>
        <section>
            <h2>Título con h2</h2>
            <hr>
            <p>Párrafo con p.</p>
        </section>
    </main>

    <script src="../js/testing.js"></script>
</body>
</html>
